<div class="row">
    <div class="col-sm">
        <h4>Compose Mail</h4>
    </div>
</div>
<form [formGroup]="productForm">
    <div class="jumbotron col-sm bg-white" style="margin:auto">
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">To:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="name">
                <div *ngIf="formSubmitted && productForm.get('name').errors" class="invalid-error">
                    <div *ngIf="productForm.get('name').errors.required">Name is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Message:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="code">
                <div *ngIf="formSubmitted && productForm.get('code').errors" class="invalid-error">
                    <div *ngIf="productForm.get('code').errors.required">Code is required</div>
                </div>
            </div>
        </div>
        <hr class="hrl bg-light">

        <div class="ms-3 bg-light">
            <i class="fa fa-magic fa-black " aria-hidden="true"></i>
            <i class="fa fa-caret-down fa-black" aria-hidden="true"></i>

            <i class="fa fa-bold fa-black mx-2" aria-hidden="true"></i>
            <i class="fa fa-underline fa-black mx-2" aria-hidden="true"></i>
            <i class="fa fa-eraser fa-black mx-2" aria-hidden="true"></i>
            <label class="opensans mx-1">open sans</label>&nbsp;
            <i class="fa fa-caret-down fa-black" aria-hidden="true"></i>
            <i class="fa fa-font fa-black mx-2" aria-hidden="true"></i>
            <i class="fa fa-caret-down fa-black" aria-hidden="true"></i>
            <i class="fa fa-list-ul fa-black mx-2" aria-hidden="true"></i>
            <i class="fa fa-list-ol fa-black mx-2" aria-hidden="true"></i>
            <i class="fa fa-align-left fa-black mx-2" aria-hidden="true"></i>
            <i class="fa fa-caret-down fa-black" aria-hidden="true"></i>
            <i class="fa fa-table fa-black mx-2" aria-hidden="true"></i>
            <i class="fa fa-picture-o fa-black mx-2" aria-hidden="true"></i>
            <i class="fa fa-video-camera fa-black mx-2" aria-hidden="true"></i>
            <i class="fa fa-arrows-alt fa-black mx-2" aria-hidden="true"></i>
            <i class="fa fa-code fa-black mx-2" aria-hidden="true"></i>
            <i class="fa fa-question fa-black mx-2" aria-hidden="true"></i>
        </div>
        <hr class="up">

        <textarea id="email" rows="8" cols="130"></textarea>
        <div class="form-group row">&nbsp;</div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">&nbsp;</label>
            <div class="right">
                <button type="button" class="btn btn-success fa fa-floppy-o" (click)="save($event)">&nbsp;Send</button>&nbsp;
                <button type="button" class="btn btn-success fa fa-floppy-o" (click)="saveAndContinue($event)">&nbsp;Draft</button>&nbsp;
                <button type="button" class="btn btn-light fa fa-ban" routerLink='/products'>&nbsp;Discard</button>
            </div>
        </div>
    </div>
</form>
